.numberInput {
  appearance: textfield;
  -moz-appearance: textfield;
  background: transparent;
  max-width: 100%;
  box-sizing: content-box;
  width: 48px;
  text-align: center;
}

.numberInput::-webkit-outer-spin-button,
.numberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
