.odometer {
  font-style: normal;
  font-weight: bold;
  line-height: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.odometer,
.odometer span {
  @apply font-sans;
}

.odometer > span {
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 2s ease;
  transform: translateY(0);
  line-height: 1;
}

.odometer > span > span {
  flex: 0 0 100%;
}
