.banner {
  display: grid;
  grid-template-areas: 'close' 'description' 'actions';
}

@media (min-width: 768px) {
  .banner {
    gap: 1rem;
    grid-template-areas: 'description actions close';
    grid-template-columns: auto min-content min-content;
  }
}

.description {
  grid-area: description;
}

.actions {
  grid-area: actions;
}

.close {
  grid-area: close;
}
